/*homepage*/

.choose li{
    width:19%;
    text-align: center;
}

/*login*/
.login{
    width:60%;
    position: absolute;
    top:50%;
    left:30%;
}

.modals{
    position: fixed;
    top:40%;
    left: 25%;
    z-index: 1050;
    width:45%;
    min-height: 200px;
    background-color: #ffffff;
}
.intro-title{
    font-size:26px;
    font-weight:bold;
    line-height:30px;
}
.intro-content{
    font-size:18px;
    line-height:40px;
    text-indent:2em;
}