*{
    margin:0;padding:0;
}
body{
    font-size:12px;

}
img{
    border:none;
}
li{
    list-style-type:none;
}
input,select,textarea{
    outline:none;
}
textarea{
    resize:none;
}
a{
    text-decoration:none;
    /*color:#000000;*/
}
ul,ol,li{
    margin:0;
    padding:0;
}
/*清浮动*/
.clearfix:after{
    content:" ";
    display:block;
    clear:both;
}
.clearfix{
    zoom:1;
}

/*去掉number类型input右边的上下箭头*/

input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}