table{
	margin:10px;
	text-align:center;
}
tr:first-child{
	font-size:14px;
	font-weight:800;
}

.search-form{
	margin:5px;
	width:60%;
	float:left;
}
.course-add-modal{
	top:25%;
	left:28%;
	width:45%;
}
.dataList{
	margin-top:50px;
}
.dataList li{
	float:left;
}
