
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <script src="__PUBLIC__/common/jquery.js" type="text/javascript"></script>
    <!-- <link href="https://cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="__PUBLIC__/common/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/common/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="__PUBLIC__/common/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="__PUBLIC__/css/teacher.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="main clearfix">
    <div class="header clearfix">
        <img class="logo" src="__PUBLIC__/images/logo.png" />
        <p class="title">计算机通识教育<br />自主学习平台</p>
    </div>
    <div class="content clearfix">
        <p class="welcome"><a href="__URL__/../Index/index/">首页</a><span>&gt;&gt</span><span><span>{$username}</span>老师，欢迎你！</span><a href="__URL__/../Index/loginout/">退出</a></p>
        <div class="function clearfix">
            <div class="col-sm-3 col-xs-3 co-md-3 col-lg-3">
                <p class="self">个人中心</p>
                <ul class="nav nav-pills nav-stacked">
                   <li role="presentation"><a href="__URL__/index/">个人信息</a></li>
                        <li role="presentation"><a href="__URL__/teacher_password/">修改密码</a></li>
                        <li role="presentation"><a href="__URL__/teacher_course/">课程管理</a></li>
                        <li role="presentation"><a href="__URL__/teacher_homework/">作业管理</a></li>
                        <li role="presentation"><a href="__URL__/teacher_upload/">资料上传</a></li>
                        <li role="presentation"><a href="__URL__/teacher_discuss/">发布问题</a></li>
                        <li role="presentation" class="active"><a href="__URL__/teacher_test/">自主测试</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-xs-9 co-md-9 col-lg-9">
                <p style="font-size:20px;font-weight: 900;color:#ff0000">此处实现教师发布测试</p>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>


</body>

</html>